version: '3.8'

services:
  app:
    environment:
      PYTHONDONTWRITEBYTECODE: 1
    command: >
      sh -c "alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --reload"
    volumes:
      - ./backend/app:/app
