[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
email-validator = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
alembic = "*"

[dev-packages]
pytest = "*"
requests = "*"
mypy = "*"
black = "*"
isort = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.10"
