[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
email-validator = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlmodel = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.10"
